#maindiv{

    width:100%;
    height:auto;

}
.row{
  width:100%;
  height:auto;
  min-height:50px;

}
@media screen and (min-width:769px){
.col-lg12{

  width:100%;
  height:auto;
  float:left;
  text-align: center;
  font-size:30px;
}
.col-lg11{

  width:91.66%;
  height:auto;
  float:left;
  text-align: center;
  font-size:30px;
}
.col-lg10{

  width:83.3%;
  height:auto;
  float:left;
  text-align: center;
  font-size:30px;
}
.col-lg9{

  width:74.97%;
  height:auto;
  float:left;
  text-align: center;
  font-size:30px;
}
.col-lg8{

  width:66.64%;
  height:auto;
  float:left;
  text-align: center;
  font-size:30px;
}
.col-lg7{

  width:58.31%;
  height:auto;
  float:left;
  text-align: center;
  font-size:30px;
}
.col-lg6{

  width:49.98%;
  height:auto;
  float:left;
  text-align: center;
  font-size:30px;
}
.col-lg5{

  width:41.65%;
  height:auto;
  float:left;
  text-align: center;
  font-size:30px;
}
.col-lg4{

  width:33.32%;
  height:auto;
  float:left;
  text-align: center;
  font-size:30px;
}
.col-lg3{

  width:24.99%;
  height:auto;
  float:left;
  text-align: center;
  font-size:30px;
}
.col-lg2{

  width:16.66%;
  height:auto;
  float:left;
  text-align: center;
  font-size:30px;
}
.col-lg1{

  width:8.33%;
  height:auto;
  float:left;
  text-align: center;
  font-size:30px;
}
}


@media screen and (max-width:769px){
.col-md{

  width:50%;
  height:auto;
  float:left;
text-align: center;
    font-size:25px;

}
.col-md12{

  width:100%;
  height:auto;
  float:left;
  text-align: center;
  font-size:30px;
}
.col-md11{

  width:91.66%;
  height:auto;
  float:left;
  text-align: center;
  font-size:30px;
}
.col-md10{

  width:83.3%;
  height:auto;
  float:left;
  text-align: center;
  font-size:30px;
}
.col-md9{

  width:74.97%;
  height:auto;
  float:left;
  text-align: center;
  font-size:30px;
}
.col-md8{

  width:66.64%;
  height:auto;
  float:left;
  text-align: center;
  font-size:30px;
}
.col-md7{

  width:58.31%;
  height:auto;
  float:left;
  text-align: center;
  font-size:30px;
}
.col-md6{

  width:49.98%;
  height:auto;
  float:left;
  text-align: center;
  font-size:30px;
}
.col-md5{

  width:41.65%;
  height:auto;
  float:left;
  text-align: center;
  font-size:30px;
}
.col-md4{

  width:33.32%;
  height:auto;
  float:left;
  text-align: center;
  font-size:30px;
}
.col-md3{

  width:24.99%;
  height:auto;
  float:left;
  text-align: center;
  font-size:30px;
}
.col-md2{

  width:16.66%;
  height:auto;
  float:left;
  text-align: center;
  font-size:30px;
}
.col-md1{

  width:8.33%;
  height:auto;
  float:left;
  text-align: center;
  font-size:30px;
}
}

@media screen and (max-width:468px){
.col-sd{

  width:100%;
  height:auto;
  float:left;
  text-align: center;
    font-size:20px;
}
.col-sd12{

  width:100%;
  height:auto;
  float:left;
  text-align: center;
  font-size:30px;
}
.col-sd11{

  width:91.66%;
  height:auto;
  float:left;
  text-align: center;
  font-size:30px;
}
.col-sd10{

  width:83.3%;
  height:auto;
  float:left;
  text-align: center;
  font-size:30px;
}
.col-sd9{

  width:74.97%;
  height:auto;
  float:left;
  text-align: center;
  font-size:30px;
}
.col-sd8{

  width:66.64%;
  height:auto;
  float:left;
  text-align: center;
  font-size:30px;
}
.col-sd7{

  width:58.31%;
  height:auto;
  float:left;
  text-align: center;
  font-size:30px;
}
.col-sd6{

  width:49.98%;
  height:auto;
  float:left;
  text-align: center;
  font-size:30px;
}
.col-sd5{

  width:41.65%;
  height:auto;
  float:left;
  text-align: center;
  font-size:30px;
}
.col-sd4{

  width:33.32%;
  height:auto;
  float:left;
  text-align: center;
  font-size:30px;
}
.col-sd3{

  width:24.99%;
  height:auto;
  float:left;
  text-align: center;
  font-size:30px;
}
.col-sd2{

  width:16.66%;
  height:auto;
  float:left;
  text-align: center;
  font-size:30px;
}
.col-sd1{

  width:8.33%;
  height:auto;
  float:left;
  text-align: center;
  font-size:30px;
}
}

.blue{background-color:blue}
.green{background-color:green}
.red{background-color:red}
.yellow{background-color:yellow}
td{
  width: 100px;
  height:100px;
  background-color:blue;
}
<!--
tr{
  width: 100%;
  height:auto;

}
-->
th{
  width: 50%;
  height:auto;
  background-color: red;
}
.leftcol{
    width: 30%;
    height:auto;
    background-color: red;
}
.rightcol{
    width: 70%;
    height:auto;
    background-color: green;

}
